extends layout.pug 

block content
    .container.delete.text-center
        h1.text-center.pb-2 Delete Contact
            if !contact.First_Name && !contact.Last_Name
                h3.pb-2 No Name Provided
            else
                h3.pb-2 #{contact.Title} #{contact.First_Name} #{contact.Last_Name}
        .card.bg-light-red
            h5.mt-3.mb-4 Are you sure you want to permanently delete this contact?
            form.form(href='/' + contact.ID + '/delete' method='post')
                .form-group.mb-4
                    button.btn.btn-danger.delete-btn.me-3(type='submit') Delete
                    a.btn.btn-secondary.delete-btn(href='/') Cancel