extends layout.pug 

block content 
    .container#contacts
        .wrapper(v-if='dataFetched' v-cloak)
            .row
                .col.col-7
                    h2 Contact List
                .col.col-5.mb-3
                    a.btn.btn-primary.float-end.phone-btn(href='/create') New Contact
            ul.list-group.scroll.mb-3
                if msg != ''
                    .alert.alert-danger.alert-dismissible.fade.show.error-msg.text-center
                        span #{msg}
                        button.btn-close(type='button', data-bs-dismiss="alert")
                li.list-group-item
                    .container
                        .row
                            .col.col-12.col-lg-6.mb-2.mt-2
                                input.form-control#filter-fname(name='filter-first-name' placeholder='Filter By First Name' @input='filterByName()')
                            .col.col-12.col-lg-6.mb-2.mt-2
                                input.form-control#filter-lname(name='filter-last-name' placeholder='Filter By Last Name' @input='filterByName()')
                            .col.col-12.col-lg-3.mb-2.mt-2
                                select.form-select#filter-range
                                    option(selected value='5') Within 5 Miles
                                    option(value = '10') Within 10 Miles
                                    option(value = '25') Within 25 Miles
                            .col.col-12.col-lg-6.mb-2.mt-2
                                input.form-control#filter-geolocation(name='filter-geolocation' placeholder = 'Filter By Address')
                            .col.col-12.col-lg-3.mb-2.mt-2.d-grid.mx-auto
                                button.btn.btn-primary(v-if='!locationFiltered' @click='filterByLocation()') Search By Proximity
                                button.btn.btn-danger(v-else @click='clearLocationFilter()') Clear Address

                li.list-group-item.d-none.d-lg-block
                    .container
                        .row.fw-bold
                            if user
                                .col.col-2 Name
                                .col.col-3 Contact Info
                                .col.col-3 Address
                                .col.col-2.text-center Contact By
                                .col.col-2.text-center Actions
                            else
                                .col.col-3 Name
                                .col.col-3 Contact Info
                                .col.col-4 Address
                                .col.col-2 Contact By
                li.list-group-item(v-for='contact in contacts' @click='clickElement' :data-lat='contact.Latitude' :data-lng='contact.Longitude')
                    .container
                        .row
                            if user
                                .col.col-12.col-lg-2.mb-3
                                    a.text-break(v-if='!contact.First_Name && !contact.Last_Name', :href="'/' + contact.ID") No Name Provided
                                    a.text-break(v-else, :href="'/' + contact.ID") {{contact.Title}} {{contact.First_Name}} {{contact.Last_Name}}
                                .col.col-12.col-lg-3.mb-3
                                    span.text-break {{contact.Phone_Number}}
                                    br(v-if='contact.Phone_Number')
                                    span.text-break {{contact.Email_Address}}
                                .col.col-12.col-lg-3.mb-3
                                    span.text-break {{contact.Address}}
                                    br(v-if='contact.Latitude === 0 && contact.Longitude === 0 && contact.Address')
                                    span.fw-bold.text-danger(v-if='contact.Latitude === 0 && contact.Longitude === 0') Address could not be geolocated!
                                .col.col-12.col-lg-2.mb-4.mb-lg-3
                                    input.ms-lg-3.ms-xl-4.ms-xxl-5(:id="'phone' + contact.ID" type='checkbox' disabled :checked='isChecked(contact.Contact_By_Phone)')
                                    label.ms-1(:for="'phone' + contact.ID") Phone
                                    br
                                    input.ms-lg-3.ms-xl-4.ms-xxl-5(:id="'email' + contact.ID" type='checkbox' disabled :checked='isChecked(contact.Contact_By_Email)')
                                    label.ms-1(:for="'email' + contact.ID") Email
                                    br
                                    input.ms-lg-3.ms-xl-4.ms-xxl-5(:id="'mail' + contact.ID" type='checkbox' disabled :checked='isChecked(contact.Contact_By_Mail)')
                                    label.ms-1(:for="'Mail' + contact.ID") Mail
                                .col.text-center
                                    a.btn.btn-sm.btn-primary.btn-special.mb-lg-2.mt-lg-2.me-3.me-lg-0(:href="'/' + contact.ID + '/edit'") Edit
                                    a.btn.btn-sm.btn-danger.btn-special(:href="'/' + contact.ID + '/delete'") Delete
                            else
                                .col.col-12.col-lg-3.mb-3
                                    a.text-break(v-if='!contact.First_Name && !contact.Last_Name', :href="'/' + contact.ID") No Name Provided
                                    a.text-break(v-else, :href="'/' + contact.ID") {{contact.Title}} {{contact.First_Name}} {{contact.Last_Name}}
                                .col.col-12.col-lg-3.mb-3
                                    span.text-break {{contact.Phone_Number}}
                                    br(v-if='contact.Phone_Number')
                                    span.text-break {{contact.Email_Address}}
                                .col.col-12.col-lg-4.mb-3
                                    span.text-break {{contact.Address}}
                                    br(v-if="contact.Latitude === 0 && contact.Longitude === 0 && contact.Address")
                                    span.fw-bold.text-danger(v-if='contact.Latitude === 0 && contact.Longitude === 0') Address could not be geolocated!
                                .col.col-12.col-lg-2.mb-3
                                    input(:id="'phone' + contact.ID" type='checkbox' disabled :checked='isChecked(contact.Contact_By_Phone)')
                                    label.ms-1(:for="'phone' + contact.ID") Phone
                                    br
                                    input(:id="'email' + contact.ID" type='checkbox' disabled :checked='isChecked(contact.Contact_By_Email)')
                                    label.ms-1(:for="'email' + contact.ID") Email
                                    br
                                    input(:id="'mail' + contact.ID" type='checkbox' disabled :checked='isChecked(contact.Contact_By_Mail)')
                                    label.ms-1(:for="'Mail' + contact.ID") Mail
            .alert.alert-info.text-center.mt-2(v-if='contacts.length === 0')
                span(v-if='unknownLocation') The address you provided could not be geolocated. Please clear the address and try again!
                span(v-else-if='nameFiltered || locationFiltered') No results found for the current filter!
                span(v-else) The contact list is currently empty. Press #[b New Contact] to add a contact!
        #map-container
            #map
    script(src="/map.js")
    script.
        Vue.createApp({
            data: function () {
                return {
                    contacts: [],
                    geoLocatedContacts: [],
                    nameFiltered: false,
                    locationFiltered: false,
                    unknownLocation: false,
                    dataFetched: false
                }
            },
            mounted: function() {
                this.init();
            },
            watch: {
                contacts() {
                    loadMarkers(this.contacts);
                }
            },
            methods: {
                async init() {
                    const response = await axios.get('/contacts');
                    this.dataFetched = true;
                    this.contacts = response.data.contacts;
                    initializeMap();
                },
                
                isChecked(val) {
                    if (val === 1) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },

                async filterByName() {
                    let contacts;

                    if (this.locationFiltered) {
                        contacts = this.geoLocatedContacts;
                    }
                    else {
                        const response = await axios.get('/contacts');
                        contacts = response.data.contacts;
                    }
                
                    let filteredContacts = [];
                    const firstNameFilter = document.getElementById('filter-fname').value;
                    const lastNameFilter = document.getElementById('filter-lname').value;
                    
                    //If both filters are empty, select all of the contacts.
                    if (firstNameFilter === '' && lastNameFilter === '')
                    {
                        this.contacts = contacts;
                        this.nameFiltered = false;
                        return;
                    }

                    this.nameFiltered = true;

                    for (const c of contacts) {
                        const firstName = c.First_Name.toLowerCase();
                        const lastName = c.Last_Name.toLowerCase();
                        
                        if (firstNameFilter !== '' && lastNameFilter === '') {
                            if (firstName.indexOf(firstNameFilter.toLowerCase()) === 0) {
                                filteredContacts.push(c);
                            }
                        }
                        else if (firstNameFilter === '' && lastNameFilter !== '') {
                            if (lastName.indexOf(lastNameFilter.toLowerCase()) === 0) {
                                filteredContacts.push(c);
                            }
                        }
                        else {
                             if (firstName.indexOf(firstNameFilter.toLowerCase()) === 0 && lastName.indexOf(lastNameFilter.toLowerCase()) === 0)  {
                                filteredContacts.push(c);
                             }
                        }
                    }
                    
                    this.contacts = filteredContacts;
                },

                async filterByLocation () {                    
                    const contactsResponse = await axios.get('/contacts');
                    const contacts = contactsResponse.data.contacts;
                    
                    this.locationFiltered = true;
                    const addressFilter = document.getElementById('filter-geolocation');
                    const rangeFilter = document.getElementById('filter-range');
                    const firstNameFilter = document.getElementById('filter-fname');
                    const lastNameFilter = document.getElementById('filter-lname');

                    //Clear out all the other filters, including the name filter.
                    addressFilter.setAttribute('disabled', 'true');
                    rangeFilter.setAttribute('disabled', 'true');

                    const filterResponse = await axios.post('/contacts', { contacts: contacts, address: addressFilter.value, range: rangeFilter.value });
                    
                    if (filterResponse.data.unfound) {
                        console.log('Unknown Address');
                        this.geoLocatedContacts = [];
                        this.filterByName();
                        this.unknownLocation = true;
                    }
                    else {
                        this.geoLocatedContacts = filterResponse.data.filteredContacts;
                        this.filterByName();
                        map.flyTo(new L.LatLng(filterResponse.data.lat, filterResponse.data.lng))

                    }
                },

                clearLocationFilter() {
                    this.locationFiltered = false;
                    this.unknownLocation = false;
                    
                    const addressFilter = document.getElementById('filter-geolocation');
                    const rangeFilter = document.getElementById('filter-range');
                    addressFilter.removeAttribute('disabled');
                    rangeFilter.removeAttribute('disabled');
                    addressFilter.value = '';
                    this.filterByName();
                },

                clickElement(e) {
                    let row = e.target;

                    //Don't move the map if the element clicked is a link (edit/delete button)
                    if (row.tagName.toUpperCase() === 'A') {
                        return;
                    }

                    //Go to the LI element that contains the lat/lng data
                    while (row.tagName.toUpperCase() !== 'LI') {
                        row = row.parentNode;
                    }

                    const lat = row.dataset.lat;
                    const lng = row.dataset.lng;
                    
                    //If the place is unfound or the lat/long is missing, don't fly the map.
                    if (!lat || !lng || (lat === '0' && lng === '0')) {
                        return;
                    }

                    map.flyTo(new L.LatLng(lat, lng));
                }

            }

        }).mount('#contacts')
    