extends layout.pug

block content
    .container.unauthorized.text-center
        h1.text-center.pb-2 Contact Not Found
        .card.bg-light-red
            h5.mt-3.mb-4 The contact you are looking for does not exist!
            h6.mb-4 #[a.btn.btn-primary(href='/') Back to Contact List]
