extends layout.pug

block content
    .container.unauthorized.text-center
        h1.text-center.pb-2 Unauthorized Access
        .card.bg-light-red
            h5.mt-3.mb-4 You are currently unauthorized to access this feature. You must be logged in to gain access.
            h6.mb-4 #[a.btn.btn-primary(href='/login') Sign in]
            h6.mb-4 Don't have an account? #[a(href='/signup') Sign up]
